<css>
body {
background-image: url("https://sciencenyc.wikispaces.com/file/view/Science_Words.PNG/301823782/780x411/Science_Words.PNG"); 
}
h1 {
font-family: comic-sans-ms;
font-sicze: 15 px;
}
</css>
