body {
background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/JrbItQz/colorful-glowing-bokeh-lights-loop-background_e1lt9skxl__S0000.jpg") size = 1000%; 
}
h1 {
font-family: comic-sans-ms;
font-sicze: 15 px;
}
